.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/android-support-v4-preferencefragment/build
android-support-v4-preferencefragment/build/intermediates/bundles/debug/classes.jar
android-support-v4-preferencefragment/build/intermediates/bundles/debug/res/layout/preference_list_fragment.xml
android-support-v4-preferencefragment/build/intermediates/bundles/debug/res/layout/preference_list_fragment.xml
android-support-v4-preferencefragment/build/intermediates/bundles/debug/res/values-v21/values-v21.xml
android-support-v4-preferencefragment/build/intermediates/bundles/debug/res/values-w720dp/values-w720dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/debug/res/values/values.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/classes.jar
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/layout/preference_list_fragment.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-sw320dp/values-sw320dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-v21/values-v21.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-w720dp/values-w720dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values/values.xml
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceFragment$1.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceFragment$2.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceFragment$3.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceFragment$4.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceFragment.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceManagerCompat$1.class
android-support-v4-preferencefragment/build/intermediates/classes/debug/android/support/v4/preference/PreferenceManagerCompat.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceFragment$1.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceFragment$2.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceFragment$3.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceFragment$4.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceFragment.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceManagerCompat$1.class
android-support-v4-preferencefragment/build/intermediates/classes/release/android/support/v4/preference/PreferenceManagerCompat.class
android-support-v4-preferencefragment/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/mergeAssets/debug/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/mergeAssets/release/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/packageResources/debug/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/packageResources/release/merger.xml
android-support-v4-preferencefragment/build/intermediates/res/androidTest/debug/layout/preference_list_fragment.xml
android-support-v4-preferencefragment/build/intermediates/res/androidTest/debug/values-sw320dp/values-sw320dp.xml
android-support-v4-preferencefragment/build/intermediates/res/androidTest/debug/values-v21/values-v21.xml
android-support-v4-preferencefragment/build/intermediates/res/androidTest/debug/values-w720dp/values-w720dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-sw320dp/values-sw320dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-v21/values-v21.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values-w720dp/values-w720dp.xml
android-support-v4-preferencefragment/build/intermediates/bundles/release/res/values/values.xml
android-support-v4-preferencefragment/build/intermediates/incremental/mergeAssets/release/merger.xml
android-support-v4-preferencefragment/build/intermediates/incremental/packageResources/release/merger.xml